<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=-1.0, maximum-scale=-1.0, userscale=-1.0">
    <link rel="stylesheet" href="/form.css">
    <title>Document</title>
</head>

<body>
    <main class="main-container">
        <p> {{tokenString}} </p>
        <form class="form" action="/tokens/confirm-password-reset", method="POST">

            <header class="instruction">
                <h1>Reset Password</h1>
                <p>Please enter and confirm your new password. Password must be a minimum of 8 characters. </p>
            </header>

            <section class="input-container">
                <label class="label"> Password
                    <input name="password" class="input" type="password" placeholder="Enter your Password" required />
                </label>

                <label class="label">Confirm Password
                    <input name="confirmPassword" class="input" type="password" placeholder="confirm your Password" required />
                </label>

                <label class="label">
                    <input name="tokenString" value={{{tokenString}}} class="input" type="hidden" />
                </label>

            </section>
            <section class="submit">
                <button class="btn">Reset</button>
            </section>
        </form>
    </main>

</body>

</html>